<!-- 标题 -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">视觉设计</h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">　<i class="m-nav__link-icon la la-home"></i></a>
          </li>
          <li class="m-nav__separator">	-　</li>
          <li class="m-nav__item"><a href="" class="m-nav__link"><span class="m-nav__link-text"> 改变UI的外观 </span></a></li> 
  
        </ul>
      </div>　
  
    </div>
  </div> 
  
  <!-- 内容 -->
  <div class="m-content">
    <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet m-portlet--tabs">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs-line " role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab"  >
                                布局 
                            </a>
                        </li> 
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_6_2" role="tab"  >
                                标题栏
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_6_3" role="tab"  >
                                菜单
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_6_4" role="tab"  >
                                页脚
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="m-portlet__head-tools">
                    <button class="btn btn-primary" type="button" ><i class="la la-save"></i> 保存</button>
                </div>
            </div>
            
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel" >
                        <form class="ng-tns-c3-7 " id="LayoutSettingsForm" novalidate="">
                            <div class="form-group m-form__group">
                                <label class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">布局类型</font></font></label>
                                <select class="form-control " name="LayoutType">
                                    <option class="ng-tns-c3-7" value="fluid"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">流体</font></font></option>
                                    <option class="ng-tns-c3-7" value="boxed"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">盒装</font></font></option>
                                </select>
                            </div>
                            <div class="form-group m-form__group">
                                <label class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">页面加载器</font></font></label>
                                <select class="form-control " name="PageLoader">
                                    <option class="ng-tns-c3-7" value=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">残</font></font></option>
                                    <option class="ng-tns-c3-7" value="default"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">默认</font></font></option>
                                    <option class="ng-tns-c3-7" value="spinner-message"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">微调消息</font></font></option>
                                </select>
                            </div>
                            <div class="form-group m-form__group">
                                <label class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">内容皮肤</font></font></label>
                                <select class="form-control " name="ContentSkin">
                                    <option class="ng-tns-c3-7" value="light2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">浅灰色</font></font></option>
                                    <option class="ng-tns-c3-7" value="light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">白色</font></font></option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane  " id="m_tabs_6_2" role="tabpanel" >
                        <form class="ng-tns-c3-7 " id="HeaderSettingsForm" novalidate="">
                            <div class="form-group m-form__group">
                                <label class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">下拉皮肤</font></font></label>
                                <select class="form-control " name="DropdownSkin">
                                    <option class="ng-tns-c3-7" value="light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">光</font></font></option>
                                    <option class="ng-tns-c3-7" value="dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">黑暗</font></font></option>
                                </select>
                            </div>
                            <h5 class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">桌面</font></font></h5>
                            <div class="form-group m-form__group">
                                <label class="m-checkbox col-lg-12">
                                    <input class="ng-tns-c3-7 " name="DesktopFixedHeader" type="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    固定标题
                                    </font></font><span class="ng-tns-c3-7"></span>
                                </label>
                            </div>
                            <div class="form-group m-form__group">
                                <label class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最小化模式</font></font></label>
                                <select class="form-control " name="DesktopMinimizeMode">
                                    <option class="ng-tns-c3-7" value=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">没有</font></font></option>
                                    <option class="ng-tns-c3-7" value="hide"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">隐藏</font></font></option>
                                </select>
                            </div>
                            <div class="form-group m-form__group">
                                <label class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">皮肤</font></font></label>
                                <select class="form-control " name="DropdownSkinDesktop">
                                    <option class="ng-tns-c3-7" value="light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">光</font></font></option>
                                    <option class="ng-tns-c3-7" value="dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">黑暗</font></font></option>
                                </select>
                            </div>
                            <div class="form-group m-form__group">
                                <label class="m-checkbox col-lg-12">
                                    <input class="ng-tns-c3-7 " name="DisplaySubmenuArrowDesktop" type="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    显示子菜单箭头
                                    </font></font><span class="ng-tns-c3-7"></span>
                                </label>
                            </div>
            
                            <h5 class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">移动</font></font></h5>
                            <div class="form-group m-form__group">
                                <label class="m-checkbox col-lg-12">
                                    <input class="ng-tns-c3-7 " name="MobileFixedHeader" type="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    固定标题
                                    </font></font><span class="ng-tns-c3-7"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane  " id="m_tabs_6_3" role="tabpanel" >
                        <form class="ng-tns-c3-7 " id="MenuSettingsForm" novalidate="">
                            <div class="form-group m-form__group">
                                <label class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">位置</font></font></label>
                                <select class="form-control " name="Position">
                                    <option class="ng-tns-c3-7" value="left"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">剩下</font></font></option>
                                    <option class="ng-tns-c3-7" value="top"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最佳</font></font></option>
                                </select>
                            </div>
                            <div class="form-group m-form__group">
                                <label class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">菜单皮肤</font></font></label>
                                <select class="form-control " name="AsideSkin">
                                    <option class="ng-tns-c3-7" value="light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">光</font></font></option>
                                    <option class="ng-tns-c3-7" value="dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">黑暗</font></font></option>
                                </select>
                            </div>
                            <div class="form-group m-form__group ng-tns-c3-7">
                                <label class="m-checkbox col-lg-12">
                                    <input class="ng-tns-c3-7 " name="FixedAside" type="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    固定菜单
                                    </font></font><span class="ng-tns-c3-7"></span>
                                </label>
                            </div>
                            <div class="form-group m-form__group ng-tns-c3-7">
                                <label class="m-checkbox col-lg-12">
                                    <input class="ng-tns-c3-7 " name="AllowAsideMinimizing" type="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    放手一边尽量减少
                                    </font></font><span class="ng-tns-c3-7"></span>
                                </label>
                            </div>
                            <div class="form-group m-form__group ng-tns-c3-7">
                                <label class="m-checkbox col-lg-12">
                                    <input class="ng-tns-c3-7 " name="DefaultMinimizedAside" type="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    默认最小化
                                    </font></font><span class="ng-tns-c3-7"></span>
                                </label>
                            </div>
                            <div class="form-group m-form__group ng-tns-c3-7">
                                <label class="m-checkbox col-lg-12">
                                    <input class="ng-tns-c3-7 ng-untouched ng-pristine" name="AllowAsideHiding" type="checkbox" disabled=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    放开一边隐藏
                                    </font></font><span class="ng-tns-c3-7"></span>
                                </label>
                            </div>
                            <div class="form-group m-form__group ng-tns-c3-7">
                                <label class="m-checkbox col-lg-12">
                                    <input class="ng-tns-c3-7 ng-untouched ng-pristine" name="DefaultHiddenAside" type="checkbox" disabled=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    默认隐藏在一旁
                                    </font></font><span class="ng-tns-c3-7"></span>
                                </label>
                            </div>
                            <div class="form-group m-form__group ng-tns-c3-7">
                                <label class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">子菜单切换</font></font></label>
                                <select class="form-control " name="SubmenuToggle">
                                    <option class="ng-tns-c3-7" value="dropdown"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">落下</font></font></option>
                                    <option class="ng-tns-c3-7" value="accordion"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">手风琴</font></font></option>
                                </select>
                            </div>
                            <div class="form-group m-form__group ng-tns-c3-7">
                                <label class="ng-tns-c3-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">下拉菜单皮肤</font></font></label>
                                <select class="form-control " name="DropdownSubmenuSkin">
                                    <option class="ng-tns-c3-7" value="inherit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">继承</font></font></option>
                                    <option class="ng-tns-c3-7" value="light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">光</font></font></option>
                                    <option class="ng-tns-c3-7" value="dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">黑暗</font></font></option>
                                </select>
                            </div>
                            <div class="form-group m-form__group ng-tns-c3-7">
                                <label class="m-checkbox col-lg-12">
                                    <input class="ng-tns-c3-7 " name="DropdownSubmenuArrow" type="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    下拉菜单箭头
                                    </font></font><span class="ng-tns-c3-7"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane  " id="m_tabs_6_4" role="tabpanel" >
                        <form class="ng-tns-c3-7 " id="FooterSettingsForm" novalidate="">
                            <div class="form-group m-form__group">
                                <label class="m-checkbox col-lg-12">
                                    <input class="ng-tns-c3-7 " name="FixedFooter" type="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    固定页脚
                                    </font></font><span class="ng-tns-c3-7"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div> 
       
      </div>
    </div>
  </div>
  