<!-- 标题 -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">广告通知</h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">-</li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">AD</span>
            </a>
          </li>
  
        </ul>
      </div>
  
    </div>
  </div>
  
  
  <!-- 内容 -->
  <div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ad-banner">
                <h3>Advertisements(动态广告)</h3>
                <ng-template ad-host></ng-template>
            </div>

        </div>
    </div>
</div>